<!doctype html>
<html>
    <body>
	    <p>
	    <h3>Following informations are the detail information for squirrel under ID: {{ squirrel.Squirrel_ID }}</h3>
	    <ul>
		    <li>Logitude: {{ squirrel.X }}</li>
		    <li>Latitude: {{ squirrel.Y }}</li>
		    <li>Shift: {{ squirrel.Shift }}</li>
		    <li>Date: {{ squirrel.Date }}</li>
		    <li>Age: {{ squirrel.Age }}</li>
		    <li>Primary Fur Color: {{  squirrel.Primary_Fur_Color  }}</li>
		    <li>Location : {{ squirrel.Location }}</li>
		    <li>Specific Location: {{ squirrel.Specific_Location }}</li>
		    <li>Running: {{ squirrel.Running }}</li>
		    <li>Chasing: {{ squirrel.Chasing }}</li>
		    <li>Climbing: {{ squirrel.Climbing }}</li>
		    <li>Eating : {{ squirrel.Eating }}</li>
		    <li>Foraging: {{ squirrel.Foraging }}</li>
		    <li>Kuks: {{ squirrel.Kuks }}</li>
		    <li>Quaas: {{ squirrel.Quaas }}</li>
		    <li>Moans: {{ squirrel.Moans }}</li>
		    <li>Tail Flags: {{ squirrel.Tail_Flags }}</li>
		    <li>Tail Twitch: {{ squirrel.Tail_Twitches }}</li>
		    <li>Approaches: {{ squirrel.Approaches }}</li>
		    <li>Indifferent: {{  squirrel.Indifferent }} </li>
		    <li>Runs From: {{ squirrel.Runs_From }}</li>
	    </ul>
	    </p>
	<ul>
	    {% for squirrel in squirrels %}
	    <li><a href="{% url 'sightings:detail' squirrel.Squirrel_ID %}">{{ squirrel.Squirrel_ID }}</a></li>
	    {% endfor %}
	</ul>
    </body>
<html>
