<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit detail of sighting</title>
    </head>
    <body>
    <h3>Edit detail of sighting: {{ squirrel_id }}</h3>
	<form method="post">{% csrf_token %}
		{{form.as_p}}
		<br>
		<input type="submit" name="Submit">
        <input type="button" value="Back" onclick="document.location.href = '{% url 'sightings:index' %}'">
	</form>
    {% if success %}
        <p style="color: red">Saved successfully</p>
    {% endif %}
    </body>
</html>
