<!doctype html>
<html lang="en">
    <head>
        <title>Squirrel Tracker</title>
    </head>
    <body>
    <h1> Welcome to the Squirrel Tracking Website</h1>
	<img src="https://i.pinimg.com/564x/21/fd/41/21fd410d4ef6371f0264af5b6aa28700.jpg" alt="Squirrel Pictures">
	<h3>Current Squirrels in Database</h3>

    <ul>	  
    	<a href="add/"> Add </a>
	</ul>	
	
	<ul>				
    	<a href="stats/"> Stats </a>
	</ul>	
	
	<ul>	  
    	<a href="map/"> Map </a>
	</ul>	

	<ul>
	    {% for squirrel in squirrels %}
	        <li>
			<a href="{% url 'sightings:detail' squirrel.Squirrel_ID %}">{{ squirrel.Squirrel_ID }}</a>
		</li>
	    {% endfor %}
	</ul>
    </body>
</html>
